body {
  max-width: 1024px;
  height: 768px;
  margin: 0 auto;
}

.images {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  scroll-behavior: smooth;
}

.img-wrap {
  position: relative;
  flex: 0 1 calc(20% - 10px);
  height: 150px;
  margin: 5px;
  background-color: #ccc;
  overflow: hidden;
  box-sizing: border-box;
  border: 5px solid #fff;
  transition: border-color 0.2s;
}

.img-wrap:focus {
  border-color: rgb(39, 48, 105);
}

.focus {
  border: 5px solid rgb(39, 48, 105);
}

img {
  position: absolute;
  width: 100%;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
